body {
    background-color: #6b7b8c !important;
    }
    
    h1 {
        color: #d7d7d7 !important;
    }
    p{
    
      color: #d7d7d7 !important;
    }
    
    .header {
        background-color: #3b4d61 !important;
        padding: 20px;
        text-align: center;
    }
    
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ef9d10;
    }
    
    li {
        float: left;
    }
    
    li a, .dropbtn {
        display: inline-block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        background-color: #ef9d10;
        color: #ffffff;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #6b7b8c;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: #f9f9f9;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #6b7b8c}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }